<div class="row">
  <div *ngFor="let item of nCards; let i = index" class="col-sm-4 d-flex align-items-stretch">
    <div class="card" style="width: 18rem">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{ "news.news" | translate }}</h5>
        <p class="card-text">{{ "news.description"+i | translate }}</p>
        <button
          type="button"
          class="btn btn-secondary w-100 mt-auto align-self-end"
          [routerLink]="['/news']"
          [disabled]="i > 0"
        >
          {{ "news.news" | translate }}
        </button>
      </div>
    </div>
  </div>
  </div>

  